:root {
  --primary-font: "Public Sans", sans-serif;
  --dark-color-blue: hsl(233, 26%, 24%);
  --gray-blue: hsl(233, 8%, 62%);
  --lime-green: hsl(136, 65%, 51%);
  --blue-cyan: rgb(43, 183, 218);
  --Light-Grayish: hsl(0, 0%, 98%);
  --very-light-gray: hsl(0, 0%, 92%);
  --white: #ffffff;
  --font-size: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  font-size: var(--font-size);
}

.nav {
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
}
.nav .menu {
  outline: none;
  background: none;
  border: none;
}

.menu-links {
  display: none;
}
.menu-links li {
  list-style: none;
}
.menu-links li a {
  text-decoration: none;
  font-family: var(--primary-font);
  color: var(--gray-blue);
}

@media only screen and (min-width: 1440px) {
  .nav {
    padding: 1em 5em;
    align-items: center;
  }
  .nav .menu {
    display: none;
  }
  .nav .bt_request {
    margin: 0px;
  }

  .menu-links {
    display: flex;
  }
  .menu-links li {
    margin: 0px 1em;
  }
}
.article-section {
  padding: 2em 1em;
  font-family: var(--primary-font);
  background-color: #f0f0f0;
}
.article-section h2 {
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  color: var(--dark-color-blue);
}
.article-section .card-article {
  margin: 1em 0;
  background-color: var(--white);
  border-radius: 5px;
}
.article-section .card-article .card-image {
  width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.article-section .card-article .card-image img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.article-section .card-article .card-body {
  padding: 2em 1.5em;
  border-radius: 0 0 5px 5px;
}
.article-section .card-article .card-body .author {
  color: var(--gray-blue);
  font-size: 0.8em;
}
.article-section .card-article .card-body h3 {
  padding: 0.5em 0;
  font-weight: 400;
  font-size: 1.1em;
  color: var(--dark-color-blue);
}
.article-section .card-article .card-body p {
  line-height: 1.3em;
  font-weight: 300;
  font-size: 0.9em;
  color: var(--gray-blue);
}

footer {
  background-color: var(--dark-color-blue);
  border: solid red 1px;
  padding: 2em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--primary-font);
}
footer img {
  margin-bottom: 1.5em;
}
footer .social .icon__facebook {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url("../../images/icon-facebook.svg") no-repeat center;
}
footer .social .icon__youtube {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url("../../images/icon-youtube.svg") no-repeat center;
}
footer .social .icon__twitter {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url("../../images/icon-twitter.svg") no-repeat center;
}
footer .social .icon__pinterest {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url("../../images/icon-pinterest.svg") no-repeat center;
}
footer .social .icon__instagram {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url("../../images/icon-instagram.svg") no-repeat center;
}
footer .footer-link {
  margin: 0.5em 0;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 300;
  color: var(--white);
}
footer .copyright {
  margin: 1em 0;
  color: var(--gray-blue);
}

.initial-cover {
  background: url("../../images/image-mockups.png") center bottom no-repeat, url("../../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 350px, cover;
  height: 305px;
  margin-bottom: 1.5em;
}

.header-invite {
  text-align: center;
  font-family: var(--primary-font);
  padding-bottom: 4em;
}
.header-invite h1 {
  color: var(--dark-color-blue);
  font-size: 2.5em;
  font-weight: 400;
}
.header-invite p {
  margin-top: 1em;
  line-height: 1.5em;
  color: var(--gray-blue);
  font-family: var(--secondary-font);
  font-weight: 300;
}

@media only screen and (min-width: 1440px) {
  .header-invite {
    display: grid;
    grid-template-areas: "description image";
    grid-template-columns: 1fr 1fr;
  }

  .initial-cover {
    grid-area: image;
  }
}
.bt_request {
  margin-top: 2em;
  outline: none;
  background-image: linear-gradient(to right, var(--lime-green), var(--blue-cyan));
  border: none;
  border-radius: 50px;
  padding: 0.8em 2.2em;
  color: var(--white);
  cursor: pointer;
}

.section-info {
  background-color: var(--very-light-gray);
  padding: 0.2em 1em;
  font-family: var(--primary-font);
}
.section-info .sec-info {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.section-info .sec-info h2 {
  margin: 0.5em;
  font-size: 2em;
  font-weight: 300;
}
.section-info .sec-info h2 span {
  display: block;
  font-size: 1.2em;
}
.section-info .sec-info h3 {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--dark-color-blue);
  margin: 0.5em 0;
}
.section-info .sec-info p {
  font-size: 0.95em;
  line-height: 1.7em;
  font-weight: 300;
  color: var(--gray-blue);
}

/*# sourceMappingURL=styles.css.map */
