* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --DarkBlue-DarkMode: hsl(209, 23%, 22%);
    --VeryDarkBlue-Background: hsl(207, 26%, 17%);
    --VeryDarkBlue-LightModeText: hsl(200, 15%, 8%);
    --DarkGray-LightModeInput: hsl(0, 0%, 52%);
    --VeryLightGray-LightBackground: hsl(0, 0%, 98%);
    --White-DarkModeText-LightMode: hsl(0, 0%, 100%);
}


/***************
DarkMode and Light Mode 
****************/

.darkMode-main {
    background-color: var(--VeryDarkBlue-Background);
    color: var(--White-DarkModeText-LightMode);
    transition: 100ms;
}

.lightMode-main {
    background-color: var(--VeryLightGray-LightBackground);
    color: var(--VeryDarkBlue-LightModeText);
    transition: 100ms;
}

.lightMode-box {
    background-color: var(--VeryLightGray-LightBackground);
    box-shadow: 0 2px 10px #dadada;
    transition: 100ms;
}

.darkMode-box {
    background-color: var(--DarkBlue-DarkMode);
    color: var(--White-DarkModeText-LightMode);
    transition: 100ms;
}

.darkOption:before,
.lightOption:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 1px;
    width: 18px;
    height: 18px;
}

.darkOption:before {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(216deg) brightness(103%) contrast(103%);
    background: url("../img/moon-dark-mode.svg");
}

.lightOption:before {
    background: url("../img/moon-light-mode.svg");
}

.darkLightModeOption:hover {
    cursor: pointer;
}


/***************
DarkMode and Light Mode END
****************/

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
}


/* Menu */

.navMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMain h1 {
    font-size: 1.2em;
}

.navMain span {
    position: relative;
}


/* Main*/

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    padding: 1.5em;
}

main .wrapperMain {
    max-width: 1780px;
}

.inputSearchBox {
    position: relative;
}

.inputSearchBox .inputCountry {
    position: relative;
    width: 100%;
    height: 45px;
    font-weight: 300;
    outline: none;
    border: none;
    padding: 1em 0 1em 4em;
    margin-bottom: 3em;
    font-size: 1em;
    border-radius: 5px;
}

.inputSearchBox .inputCountry::placeholder {
    color: var(--DarkGray-LightModeInput);
}

.inputSearchBox .searchIcon {
    z-index: 2;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    background: url("/img/search-icon.svg");
}

.filterRegion {
    padding: .9em 5.5em .9em 1.5em;
    border: none;
    outline: none;
    font-size: .9em;
    font-family: "Nunito Sans", sans-serif;
}

.filterRegion:hover {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .searchBoxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .filterRegion {
        justify-self: end;
        width: 200px;
        height: 45px;
    }
}


/* Card Countries*/

.container-cardCountry {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    padding: 0 1.5em;
    margin: 2em 0;
}

.countryCard {
    border-radius: 10px;
}

.countryCardSelection:hover {
    cursor: pointer;
}

.countryCard .card-img {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.countryCard .card-img img {
    width: 100%;
    object-fit: fill;
}

.countryCard .card-body {
    padding: 2em;
    line-height: 2em;
}

.card-body h2 {
    font-size: 1.3em;
    padding-bottom: .5em;
}

.card-body p {
    font-weight: 300;
}

@media screen and (min-width:768px) {
    .container-cardCountry {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1024px) {
    .container-cardCountry {
        grid-template-columns: repeat(4, 1fr);
    }
}


/*****************
    Single Page - Country page 
 *****************/

.pageCountry {
    position: absolute;
    left: 30vw;
    display: none;
}

.backButton {
    padding: .5em 2em;
    margin-bottom: 2em;
    outline: none;
    border: solid .5px var(--VeryDarkBlue-Background);
}

.backButton:hover {
    cursor: pointer;
}

.pageCountry .countryCard {
    border-radius: 0px;
}

.pageCountry .card-body {
    padding: 2em 0;
    line-height: 2em;
    display: grid;
    grid-template-columns: repeat(1fr);
    row-gap: 2em;
}

.pageCountry .card-body h3 {
    margin-bottom: 1em;
}

.borderCountries {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

.borderCountries p {
    padding: 0 1em;
}

.toLeft,
.toRight {
    animation-timing-function: ease;
    animation-duration: 300ms;
}

.toLeft {
    left: 0;
    animation-name: toLeft;
}

.toRight {
    left: calc(100vw + 10px);
    animation-name: toRight;
}

@keyframes toLeft {
    from {
        left: calc(100vw + 10px);
    }
    to {
        left: 0;
    }
}

@keyframes toRight {
    from {
        left: 0;
    }
    to {
        left: calc(100vw + 10px);
    }
}

@media screen and (min-width:768px) {
    .pageCountry {
        width: 100%;
    }
    .singlePage {
        /* border: solid red 1px; */
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        column-gap: 2em;
    }
    .countryCard .card-img {
        max-height: 100%;
        max-width: 400px;
    }
    .singlePage-body {
        grid-template-columns: repeat(2, 1fr);
        justify-self: self-start;
        column-gap: 3em;
        align-items: center;
    }
    .singlePage-body h2 {
        margin-bottom: .6em;
        font-weight: 800;
        font-size: 1.7em;
    }
    .singlePage-body span:nth-child(3) {
        grid-column: 1/3;
    }
    .singlePage .borderCountries p {
        box-shadow: 0 0 10px #1525353b
    }
}

.loading {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 150px;
    height: 130px;
}

.loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(35, 124, 43) transparent rgb(35, 124, 43) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}