.article-section {
    padding: 2em 1em;
    font-family: var(--primary-font);
    background-color: #f0f0f0;
    h2 {
        font-weight: 300;
        text-align: center;
        font-size: 2em;
        color: var(--dark-color-blue);
    }
    .card-article {
        margin: 1em 0;
        background-color: var(--white);
        border-radius: 5px;
        .card-image {
            width: 100%;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            img {
                height: 200px;
                object-fit: cover;
                width: 100%;
            }
        }
        .card-body {
            padding: 2em 1.5em;
            border-radius: 0 0 5px 5px;
            .author {
                color: var(--gray-blue);
                font-size: .8em;
            }
            h3 {
                padding: .5em 0;
                font-weight: 400;
                font-size: 1.1em;
                color: var(--dark-color-blue);
            }
            p {
                line-height: 1.3em;
                font-weight: 300;
                font-size: .9em;
                color: var(--gray-blue);
            }
        }
    }
    @media only screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        padding: 3em calc(var(--padding-content-width) - 5em);
        .latest-art-title h2 {
            font-size: 2.7em;
            text-align: center;
        }
        .card-article-container {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
            .card-article {
                width: 17.5em;
            }
        }
    }
    @media only screen and (min-width:1440px) {
        display: flex;
        flex-direction: column;
        padding: 3em var(--padding-content-width);
        .latest-art-title h2 {
            font-size: 2.7em;
            text-align: left;
        }
        .card-article-container {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(4, 1fr);
            .card-article {
                width: 17.5em;
            }
        }
    }
}