@mixin icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    background-color: red;
}

footer {
    background-color: var(--dark-color-blue);
    padding: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    img {
        margin-bottom: 1.5em;
    }
    .social {
        a {}
        .icon {
            &__facebook {
                @include icon;
                background: url("../../images/icon-facebook.svg") no-repeat center;
            }
            &__youtube {
                @include icon;
                background: url("../../images/icon-youtube.svg") no-repeat center;
            }
            &__twitter {
                @include icon;
                background: url("../../images/icon-twitter.svg") no-repeat center;
            }
            &__pinterest {
                @include icon;
                background: url("../../images/icon-pinterest.svg") no-repeat center;
            }
            &__instagram {
                @include icon;
                background: url("../../images/icon-instagram.svg") no-repeat center;
            }
        }
    }
    .footer-link {
        margin: .5em 0;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: 300;
        color: var(--white);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .copyright {
        margin: 1em 0;
        color: var(--gray-blue);
    }
    @media only screen and(min-width:1024px) {
        padding: 3em var(--padding-content-width);
        img {
            width: 12em;
        }
        .footers-links-containers {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        display: grid;
        justify-items: center;
        grid-template-columns: 300px 1fr 300px;
        grid-template-areas: "logo links requestbt ""social links copyright";
        .footer-logo {
            grid-area: logo;
            justify-self: start;
        }
        .social {
            grid-area: social;
            justify-self: start;
        }
        .footers-links-containers {
            grid-area: links;
            justify-items: left;
            column-gap: 5em;
            a {
                &:hover {
                    color: var(--lime-green);
                }
            }
        }
        .footer-bt {
            grid-area: requestbt;
            justify-self: end;
        }
        .copyright {
            grid-area: copyright;
            justify-self: end;
        }
    }
}