    .nav {
        padding: 1em .5em;
        display: flex;
        justify-content: space-between;
        // border: solid red 1px;
        .menu {
            outline: none;
            background: none;
            border: none;
        }
    }
    
    .menu-links {
        display: none;
        li {
            list-style: none;
            a {
                text-decoration: none;
                font-family: var(--primary-font);
                color: var(--gray-blue);
            }
        }
    }
    
    @media only screen and (min-width:1440px) {
        .nav {
            padding: 1em var(--padding-content-width);
            align-items: center;
            .menu {
                display: none;
            }
            .bt_request {
                margin: 0px;
            }
        }
        .menu-links {
            display: flex;
            li {
                margin: 0px 1em;
            }
        }
    }