    .nav {
        .logo-header {
            height: 1.5em;
        }
        .menu-check {
            display: none;
        }
        padding: 1em .5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu-button {
            width: 25px;
            height: 13px;
            background: url("../../images/icon-hamburger.svg") no-repeat;
        }
        .bt_request {
            display: none;
        }
    }
    
    .menu-links {
        display: none;
        li {
            list-style: none;
            a {
                text-decoration: none;
                font-family: var(--primary-font);
                font-weight: 700;
                color: var(--dark-color-blue);
            }
        }
    }
    
    .menu-check {
        &:checked {
            &~.menu-links {
                padding: 1em;
                background: linear-gradient(to bottom, var(--dark-color-blue), transparent);
                display: block;
                text-align: center;
                position: absolute;
                top: 3.7em;
                left: 0;
                right: 0;
                bottom: 0;
                li {
                    padding: 1em .5em;
                    background: white;
                }
                .menu-links {
                    &__item {
                        &:first-of-type {
                            border: red;
                            border-radius: 8px 8px 0 0;
                        }
                        &:last-of-type {
                            border: red;
                            border-radius: 0 0 8px 8px;
                        }
                    }
                }
            }
            &~.menu-button {
                width: 25px;
                height: 18px;
                background: url("../../images/icon-close.svg") center no-repeat;
            }
        }
    }
    
    @media only screen and (min-width:1024px) {
        .nav {
            position: relative;
            padding: 1em var(--padding-content-width);
            align-items: center;
            .menu-button {
                display: none;
            }
            .bt_request {
                display: block;
                margin: 0px;
            }
        }
        .menu-links {
            display: flex;
            li {
                margin: 0px 1em;
                a {
                    position: relative;
                    &:hover {
                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 5px;
                            bottom: -30px;
                            background-image: linear-gradient( to right, var(--lime-green), var(--blue-cyan));
                        }
                    }
                }
            }
        }
    }