:root {
    --primary-font: "Public Sans", sans-serif;
    --dark-color-blue: hsl(233, 26%, 24%);
    --gray-blue: hsl(233, 8%, 62%);
    --lime-green: hsl(136, 65%, 51%);
    --blue-cyan: rgb(43, 183, 218);
    --Light-Grayish: hsl(0, 0%, 98%);
    --very-light-gray: hsl(0, 0%, 92%);
    --padding-content-width: 8em;
    --white: #ffffff;
    --font-size: 16px;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: var(--font-size);
}

@import "menu.scss";
@import "articles.scss";
@import "footer.scss";
.initial-cover {
    background: url("../../images/image-mockups.png") center bottom no-repeat, url("../../images/bg-intro-mobile.svg") center no-repeat;
    background-size: 350px, cover;
    height: 305px;
    margin-bottom: 1.5em;
}

.header-invite {
    text-align: center;
    font-family: var(--primary-font);
    padding-bottom: 4em;
    h1 {
        color: var(--dark-color-blue);
        font-size: 2.5em;
        font-weight: 400;
    }
    p {
        margin-top: 1em;
        line-height: 1.5em;
        color: var(--gray-blue);
        font-family: var(--secondary-font);
        font-weight: 300;
    }
}

@media only screen and (min-width:1024px) {
    .header-invite {
        padding-bottom: 0em;
        display: grid;
        grid-template-areas: "description image";
        grid-template-columns: 1fr 1fr;
        background: url("../../images/bg-intro-desktop.svg") top -270px right -500px no-repeat;
        background-size: 85%;
        z-index: 2;
        h1 {
            color: var(--dark-color-blue);
            font-size: 3.2em;
        }
        p {
            font-size: 1.2em;
        }
    }
    .initial-cover {
        grid-area: image;
        padding: 7em 0;
        position: absolute;
        right: 0px;
        height: 440px;
        width: 700px;
        background: url("../../images/image-mockups.png") top -100px right -110px no-repeat;
        background-size: 650px;
    }
    .description-header {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        grid-area: description;
        padding: 10em 3em 7em var(--padding-content-width);
    }
}

.bt_request {
    position: relative;
    margin-top: 2em;
    outline: none;
    background-image: linear-gradient( to right, var(--lime-green), var(--blue-cyan));
    border: none;
    border-radius: 50px;
    padding: .8em 2.2em;
    color: var(--white);
    cursor: pointer;
    &:hover {
        &:before {
            content: "";
            left: 0;
            top: 0;
            border-radius: 50px;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #ffffff60;
        }
    }
}

.section-info {
    background-color: var(--very-light-gray);
    padding: .2em 1em;
    font-family: var(--primary-font);
    .sec-info {
        margin: 3em 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h2 {
            margin: .5em;
            font-size: 2em;
            font-weight: 300;
            span {
                display: block;
                font-size: 1.2em;
            }
        }
        h3 {
            font-size: 1.3em;
            font-weight: 400;
            color: var(--dark-color-blue);
            margin: .5em 0;
        }
        p {
            font-size: .95em;
            line-height: 1.7em;
            font-weight: 300;
            color: var(--gray-blue);
        }
    }
    @media only screen and(min-width:768px) {
        display: flex;
        flex-direction: column;
        padding: 3em calc(var(--padding-content-width) - 5em);
        .sec-info {
            text-align: left;
            font-size: 1.1em;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 1em 0 0;
            h2 {
                margin: 0;
                font-weight: 300;
                span {
                    display: inline-flex;
                }
            }
            h3 {
                margin: .5em 0;
            }
            p {
                font-size: 1em;
            }
        }
        .info-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media only screen and (min-width:1024px) {
        padding: 3em var(--padding-content-width);
        .info-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media only screen and (min-width:1024px) {
    .choose {
        padding: 0 50em;
    }
}