            * {
                padding: 0px;
                margin: 0px;
                --background-color: #0c0f18;
                --secondary-color: #192035;
                --main-gradient: linear-gradient(to top, #00000071, #0e63c4);
                --white-color: #ffffff;
                --main-font: 'Amaranth', sans-serif;
                --secondary-font: 'Open Sans', sans-serif;
                box-sizing: border-box;
            }
            
            header {
                width: 100%;
                height: 75vh;
                background: no-repeat url(./images/india-dormida.jpg)#0c0f18 fixed;
            }
            
            .header-container {
                width: 100%;
                height: 100%;
                padding: 5em;
                border: red solid 3px;
                color: var(--secondary-color);
                position: relative;
            }
            
            .header-container h1 {
                font-size: 10vw;
            }
            
            .headerplace-container {
                width: 70%;
                position: absolute;
                bottom: 2em;
            }
            
            .headerplace {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                color: var(--white-color);
            }
            
            .place-ubication-left {
                padding: 2em 0;
            }
            
            .place-ubication-right {
                display: flex;
            }
            
            @media (max-width:375px) {
                header {
                    height: 60vh;
                }
                .header-container {
                    padding: 10px;
                }
                .header-container h1 {
                    font-size: 20vw;
                }
                .headerplace {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: var(--white-color);
                }
                .place-ubication-left {
                    padding: 2em 0;
                }
                .place-ubication-right {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }